name: Build ImmortalWrt

on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          chmod +x install-env.sh
          ./install-env.sh

      - name: Build ImmortalWrt
        run: |
          chmod +x build-immortalwrt.sh
          ./build-immortalwrt.sh

      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: immortalwrt-firmware
          path: |
            immortalwrt/bin/targets/**/config.buildinfo
            immortalwrt/bin/targets/**/feeds.buildinfo
            immortalwrt/bin/targets/**/*.manifest
            immortalwrt/bin/targets/**/*sysupgrade*.img.gz
            immortalwrt/bin/targets/**/profiles.json
            immortalwrt/bin/targets/**/sha256sums
