name: Build ImmortalWrt

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      DEBIAN_FRONTEND: noninteractive
      IMMORTAL_DIR: ${{ github.workspace }}/immortalwrt

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Cache dl and staging_dir
        uses: actions/cache@v3
        with:
          path: |
            immortalwrt/dl
            immortalwrt/staging_dir
          key: ${{ runner.os }}-immortalwrt-${{ hashFiles('immortalwrt/feeds.conf.default', '.config') }}

      - name: Install dependencies
        run: |
          chmod +x ./install-env.sh
          sudo ./install-env.sh

      - name: Build ImmortalWrt
        run: |
          chmod +x ./build-immortalwrt.sh
          bash ./build-immortalwrt.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: immortalwrt-artifacts
          path: |
            immortalwrt-rockchip-armv8-nlnet_xiguapi-v3.manifest
            immortalwrt-rockchip-armv8-nlnet_xiguapi-v3-squashfs-sysupgrade.img.gz
            config.buildinfo
            feeds.buildinfo
            profiles.json
            sha256sums
